<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>


<% if user_signed_in? %>
  <p>O USER <%= current_user.email %> <strong>ESTÁ LOGADO !</strong></p>
<% else %>
  <p>O USER <strong>AINDA NÃO LOGADO !</strong></p>
<% end %>

<% if admin_signed_in? %>
  <p>O ADMIN <%= current_admin.email %> <strong>ESTÁ LOGADO !</strong></p>
<% else %>
  <p>O ADMIN <strong>AINDA NÃO LOGADO !</strong></p>
<% end %>
